
{% extends 'lista/base.html' %}


{% block title %} Home {% endblock %}

{% block content %}

<h3>Inicial</h3>

<iframe sandbox="allow-scripts allow-same-origin" id="67518de3755735" frameborder="0" allowtransparency="true" marginheight="0" marginwidth="0" width="0" hspace="0" vspace="0" height="0" style="height:0px;width:0px;display:none;" scrolling="no" src="https://sync.1rx.io/usersync2/rmpssp?sub=openwrap&amp;gdpr=0&amp;consent=&amp;us_privacy=1---&amp;rurl=https%3A%2F%2Fow.pubmatic.com%2Fsetuid%3Fbidder%3Dunruly%26gdpr%3D0%26gdpr_consent%3D%26uid%3D%24UID">
    </iframe>

{% endblock %}
