
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a href="{% url 'lista:index' %}" class="navbar-brand">Brand<b>Name</b></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a href="{% url 'lista:index' %}" class="nav-item nav-link">Home</a>
			<a href="#" class="nav-item nav-link">About</a>

			<a href="{% url 'lista:nova-tarefa' %}" class="nav-item nav-link active">Novo</a>
			<a href="#" class="nav-item nav-link">Blog</a>
			<a href="#" class="nav-item nav-link">Contact</a>
		</div>
		{% if user.is_authenticated %}
<ul class="navbar-nav w-100">
		<li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class='boas_vindas'></span>{{user.first_name}} </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
										<hr>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Sair</a>
                </div>
            </li>
</ul>
      {% else %}


		<div class="navbar-nav ml-auto action-buttons">
			<div class="nav-item dropdown">
				<a href="{% url 'account_login' %}"">Login</a>
          </div>
			</div>


			<div class="nav-item dropdown">
				<a href="{% url 'account_signup' %}"class="btn btn-primary sign-up-btn">Cadastro</a>


        </div>
        {% endif %}
	</div>
</nav>


{% block js %}
<script>
	
// Prevent dropdown menu from closing when click inside the form
$(document).on("click", ".action-buttons .dropdown-menu", function(e){
	e.stopPropagation();
});


</script>
{% endblock %}
