{% extends 'lista/base.html' %}
{% load static %}
{% block title %}Login {% endblock %}

{% block content %}

<div class="main-login">

    <div class="left-login">
        <h1>Bem vindo de volta!!</h1>
        <img src="{% static 'photo/astronauta.svg' %}" alt="Astronauta" class="left-login-img">

    </div>
    <form method="post" id="form-login">
      {% csrf_token %}
    <div class="rigth-login">

        <div class="card-login">
            <h1>LOGIN</h1>
            <div class="text-field">
                <label for="usuario">Email</label>
                <input class="input" id="user" type="email" name="email" autocomplete="email" placeholder="Email">

            </div>
            <div class="text-field">
                <label for="senha">Senha</label>
                <input class="input" id="pass" type="password"  autocomplete="current-password" name="senha" placeholder="Senha">
                <button class="btn-revel">Revelar</button>
            </div>
            <div >
            <a class="link-pass" href="{% url 'accounts:password_reset' %}">Esqueceu a senha?</a>
            <a class="link-pass" href="{% url 'accounts:nova_senha' %}">nova a senha?</a>
            </div>
           <button class="btn-btn btn-login">Login</button>
        </div>
          </form>
    </div>


{% endblock %}


{% block js %}
<script src="{% static 'js/login.js' %}" type="module"></script>
<script src="{% static 'js/revel_button_pass.js' %}"></script>


{% endblock %}
