{% extends 'lista/base.html' %}
{% load static %}
{% block title %}Cadastre-se {% endblock %}

{% block content %}

<div class="main-login">

    <div class="left-login">
        <h1>Cadastre-se <br>Entre para o nosso time</h1>
        <img src="{% static 'photo/astronauta.svg' %}" alt="Astronauta" class="left-login-img">

    </div>
    <form method="post" id="form-cadastro">

      <div class="rigth-login">

          <div class="card-login">
      {% csrf_token %}
      <div class="text-field">
          <label for="senha">Nome</label>
          <input class="input" id="nome" type="text"  autocomplete="current-password" name="senha" placeholder="Nome">
      </div>
      <div class="text-field">
          <label for="senha">Email</label>
          <input class="input" id="email" type="email"  autocomplete="current-password" name="email" placeholder="email">
      </div>
            <div class="text-field">
                <label for="senha">Senha</label>
                <input class="input" id="pass" type="password"  autocomplete="current-password" name="senha" placeholder="Senha">
                <button class="btn-revel">Revelar</button>
            </div>
           <button class="btn-login btn-cadastro">Cadastrar</button>
        </div>
          </form>
    </div>


{% endblock %}


{% block js %}
<script src="{% static 'js/cadastro.js' %}" type="module"></script>
<script src="{% static 'js/consulta_email.js' %}" type="module"></script>
<script src="{% static 'js/revel_button_pass.js' %}"></script>


{% endblock %}
