.main-login{
    width: 100vw;
    height: 100vh;
    background:  var(--color-bc-one);
    display: flex;
    justify-content: center;
    align-items: center;
}



.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: #77ffc0;
    font-size: 3vw;
}

.left-login-img {
    width: 35vw;
}

.rigth-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0 10px 40px #00000056;
}


.card-login > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.text-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;

}

.input-error {
    border: 1px solid red;
    box-shadow:  0 0px 12px red;
    font-weight: 800;
    color:#fff;
    background-color: #cc333f;

}

.text-field > label {
    color:#f0ffffde;
    margin-bottom: 10px;
}

.text-field > input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-revel {
  padding: 13px 7px;
  position: absolute;
  right: 169px;
  margin-top: 34px;
  border: none;
  border-radius: 0 9px 9px 0;
  outline: none;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  display: none;
}

.btn-error {
  background-color: red;
  color: #fff;
}

.link-pass {
  color : #77ffc0;
  text-decoration: none;
}

.link-pass:hover {
  color : #94bb68;
  text-decoration: none;
}


@media screen and (max-width: 950px ) {
    .card-login {
        width: 85%;
    }



}

@media screen and (max-width: 600px ) {

    body {
        background: var(--color-bc-one);
    }
    .main-login {
        flex-direction: column;
        height: auto;

    }
    .left-login > h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .left-login-img {
        width: 50vh;

    }

    .rigth-login {
        width: 100%;
        height: auto;

    }

}
